<a href="https://colab.research.google.com/github/sathyaithazh555-creator/CODING-CHALLENGE-DAY-4/blob/main/Day_2Pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("https://drive.google.com/uc?export=download&id=1GJwDieiqffFzEZtZ3XXVd3jXylHnzFba")
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
import pandas as pd

df = pd.read_csv("https://drive.google.com/uc?export=download&id=1GJwDieiqffFzEZtZ3XXVd3jXylHnzFba")


print("\n=== ðŸ“Œ COLUMN NAMES ===")
print(df.columns)

print("\n=== ðŸ“Œ SERIES EXAMPLE (Age) ===")
print(df["Age"].head())

# Add new column
df["Attrition_Flag"] = df["Attrition"].apply(lambda x: 1 if x == "Yes" else 0)

# Update column
df["MonthlyIncome_K"] = df["MonthlyIncome"] / 1000

# Delete unwanted columns if they exist
for col in ["EmployeeCount", "StandardHours", "Over18"]:
    if col in df.columns:
        df.drop(columns=[col], inplace=True)

# Add new row (for demo)
new_row = df.iloc[0].copy()
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

# Delete last row (demo)
df.drop(df.tail(1).index, inplace=True)

# Set custom index
if "EmployeeNumber" in df.columns:
    df.set_index("EmployeeNumber", inplace=True)

# Sort by MonthlyIncome
df_sorted = df.sort_values(by="MonthlyIncome", ascending=False)

print("\n=== ðŸ“Œ FINAL DATASET INFO ===")
print(df.info())

print("\n=== ðŸ“Œ FIRST 5 ROWS AFTER CHANGES ===")
print(df.head())

print("\n=== ðŸ“Œ TOP 5 BY MONTHLY INCOME ===")
print(df_sorted[["MonthlyIncome", "MonthlyIncome_K", "Attrition", "Attrition_Flag"]].head())

print("\nðŸŽ‰ DAY 2 COMPLETED SUCCESSFULLY â€” NO ERRORS ðŸŽ‰")

=== ðŸ“Œ COLUMN NAMES ===
Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

=== ðŸ“Œ SERIES EXAMPLE (Age) ===
0    41
1    49
2    37
3    33
4    27
Name: Age, dtype: int64

=== ðŸ“Œ FINAL DATASET INFO ===
<class 'pandas.core.frame.DataFrame'>
Index: 1470 entries, 1 to 2068
Data columns (total 33 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EnvironmentSatisfaction   1470 non-null   int64
 9   Gender                    1470 non-null   object
 10  HourlyRate                1470 non-null   int64
 11  JobInvolvement            1470 non-null   int64
 12  JobLevel                  1470 non-null   int64
 13  JobRole                   1470 non-null   object
 14  JobSatisfaction           1470 non-null   int64
 15  MaritalStatus             1470 non-null   object
 16  MonthlyIncome             1470 non-null   int64
 17  MonthlyRate               1470 non-null   int64
 18  NumCompaniesWorked        1470 non-null   int64
 19  OverTime                  1470 non-null   object
 20  PercentSalaryHike         1470 non-null   int64
 21  PerformanceRating         1470 non-null   int64
 22  RelationshipSatisfaction  1470 non-null   int64
 23  StockOptionLevel          1470 non-null   int64
 24  TotalWorkingYears         1470 non-null   int64
 25  TrainingTimesLastYear     1470 non-null   int64
 26  WorkLifeBalance           1470 non-null   int64
 27  YearsAtCompany            1470 non-null   int64
 28  YearsInCurrentRole        1470 non-null   int64
 29  YearsSinceLastPromotion   1470 non-null   int64
 30  YearsWithCurrManager      1470 non-null   int64
 31  Attrition_Flag            1470 non-null   int64
 32  MonthlyIncome_K           1470 non-null   float64
dtypes: float64(1), int64(24), object(8)
memory usage: 390.5+ KB
None

=== ðŸ“Œ FIRST 5 ROWS AFTER CHANGES ===
                Age Attrition     BusinessTravel  DailyRate  \
EmployeeNumber
1                41       Yes      Travel_Rarely       1102
2                49        No  Travel_Frequently        279
4                37       Yes      Travel_Rarely       1373
5                33        No  Travel_Frequently       1392
7                27        No      Travel_Rarely        591

                            Department  DistanceFromHome  Education  \
EmployeeNumber
1                                Sales                 1          2
2               Research & Development                 8          1
4               Research & Development                 2          2
5               Research & Development                 3          4
7               Research & Development                 2          1

               EducationField  EnvironmentSatisfaction  Gender  ...  \
EmployeeNumber                                                  ...
1               Life Sciences                        2  Female  ...
2               Life Sciences                        3    Male  ...
4                       Other                        4    Male  ...
5               Life Sciences                        4  Female  ...
7                     Medical                        1    Male  ...

                StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
EmployeeNumber
1                              0                  8                      0
2                              1                 10                      3
4                              0                  7                      3
5                              0                  8                      3
7                              1                  6                      3

               WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
EmployeeNumber
1                            1               6                  4
2                            3              10                  7
4                            3               0                  0
5                            3               8                  7
7                            3               2                  2

                YearsSinceLastPromotion  YearsWithCurrManager  Attrition_Flag  \
EmployeeNumber
1                                     0                     5               1
2                                     1                     7               0
4                                     0                     0               1
5                                     3                     0               0
7                                     2                     2               0

               MonthlyIncome_K
EmployeeNumber
1                        5.993
2                        5.130
4                        2.090
5                        2.909
7                        3.468

[5 rows x 33 columns]

=== ðŸ“Œ TOP 5 BY MONTHLY INCOME ===
                MonthlyIncome  MonthlyIncome_K Attrition  Attrition_Flag
EmployeeNumber
259                     19999           19.999        No               0
1035                    19973           19.973        No               0
1191                    19943           19.943        No               0
226                     19926           19.926        No               0
787                     19859           19.859       Yes               1

ðŸŽ‰ DAY 2 COMPLETED SUCCESSFULLY â€” NO ERRORS ðŸŽ‰