<a href="https://colab.research.google.com/github/sathyaithazh555-creator/CODING-CHALLENGE-DAY-4/blob/main/Day_4_contact_dictinory1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
### Creating a 2D list where each row holds a contact's name,phone number,email address

In [ ]:
contacts = [["depika","7783899292","depikappalani@gmail.com"],
["durga","7657890987","durgasulop@gmail.com"],
["ithazhya","9876543210","ithazhgowtham@mail.com"]            ]
print(type(contacts))
print(contacts)

<class 'list'>
[['depika', '7783899292', 'depikappalani@gmail.com'], ['durga', '7657890987', 'durgasulop@gmail.com'], ['ithazhya', '9876543210', 'ithazhgowtham@mail.com']]

In [ ]:
### allow the user to add new contact

In [ ]:
name =input("Enter the name: ")
phone_number = int(input("Enter the phone_number: "))
email_address = input("Enter the email_address: ")

Enter the name: pavi
Enter the phone_number: 9876547890
Enter the email_address: pavisathi@gmail.com

In [ ]:
contacts.append([name,phone_number,email_address])
print(contacts)

[['depika', '7783899292', 'depikappalani@gmail.com'], ['durga', '7657890987', 'durgasulop@gmail.com'], ['ithazhya', '9876543210', 'ithazhgowtham@mail.com'], ['pavi', 9876547890, 'pavisathi@gmail.com'], ['pavi', 9876547890, 'pavisathi@gmail.com'], ['pavi', 9876547890, 'pavisathi@gmail.com']]

In [ ]:
### Display all contacts sorted by name

In [ ]:
contacts.sort()
print(contacts)

[['depika', '7783899292', 'depikappalani@gmail.com'], ['durga', '7657890987', 'durgasulop@gmail.com'], ['ithazhya', '9876543210', 'ithazhgowtham@mail.com'], ['pavi', 9876547890, 'pavisathi@gmail.com'], ['pavi', 9876547890, 'pavisathi@gmail.com'], ['pavi', 9876547890, 'pavisathi@gmail.com']]

In [ ]:
### Allow the user to search for contacts by name

In [ ]:
Name = input("Enter the name: ")
for i in contacts:
  if Name in i:
    print(i)

Enter the name: depika
['depika', '7783899292', 'depikappalani@gmail.com']

In [ ]:
print(contacts[0:2])

[['depika', '7783899292', 'depikappalani@gmail.com'], ['durga', '7657890987', 'durgasulop@gmail.com']]